<a href="{{ "/" | relURL }}" class="site-logo" aria-label="{{ site.Title }}">
  <img src="/logo.svg" alt="{{ site.Title }}">
</a>
<nav class="site-nav">
  <ul>
    {{- range sort site.Home.RegularPages ".LinkTitle" "asc" }}
    <li>
      <a href="{{ .RelPermalink }}"{{ if eq $.RelPermalink .RelPermalink }} class="active" aria-current="page"{{ end }}>{{ .LinkTitle }}</a>
    </li>
    {{- end }}
  </ul>
  <ul>
    {{- range sort site.Sections ".LinkTitle" "asc" }}
    <li>
      <a href="{{ .RelPermalink }}"{{ if $.IsDescendant . }} class="active"{{ end }}>{{ .LinkTitle }}</a>
    </li>
    {{- end }}
  </ul>
</nav>
