@import "components/header.css";
@import "components/footer.css";

body {
    color: #bbb;
    background-color: #222;
    font-family: monospace;
    line-height: 1.5;
    margin: 1rem auto;
    max-width: 768px;
    padding: 0 1rem;
}

a {
    color: #bbb;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}
